{% extends "base.html" %}

{% block title %}Create Game{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/js/game_create.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="player_deck_data" value="{{ player_decks }}"/>
<label for="date">Date:</label>
<input type="date" id="date" name="date">

<label for="number_of_players">Number Of Players:</label>
<select id="number_of_players" name="number_of_players">
    {% for num in range(5) %}
    <option value="{{ num+2 }}">{{ num+2 }}</option>
    {% endfor %}
</select>

<p>Note - currently no ability to create a player from this page. Go <a href="/player/create">here</a> if you need to add someone.</p>

{% for num in range(6) %}
<div id="div_for_player_{{ num+1 }}" class="player_div" {% if num > 1 %}style="display:none;"{% endif %}>
<label for="player_select_{{ num+1 }}">Player {{ num+1 }}</label>
<select id="player_select_{{ num+1 }}" class="player_select" name="player_id_{{ num+1 }}">
    <option value="-1">Select player...</option>
    {% for player in players %}
    <option value="{{ player.id }}">{{ player.name }}</option>
    {% endfor %}
</select>
</div>
{% endfor %}

<select id="winning_player_id" name="winning_player_id">
    <option disabled selected value> -- select an option -- </option>
</select>

<input type="button" id="submit" value="Submit"/>
{% endblock %}
