{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Games</h1>
<table>
<tr>
    <th>Date</th>
    <th>Decks</th>
    <th>Winning Deck</th>
</tr>
{% for game in games %}
<tr>
    <td><a href="/game/{{ game.id }}">{{ game.date.strftime('%Y-%m-%d') }}</a></td>
    <td>
        <ul>
        {% for deck in game_names[game.id] %}
        <li><a href="/deck/{{ deck.id }}">{{ deck.owner }} ({{ deck.name }})</a></li>
        {% endfor %}
        </ul>
    </td>
    <td>
        {{ decks_by_id[game.winning_deck_id].name }}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
