<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
    <h1>Games</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Decks</th>
            <th>Winning Deck</th>
        </tr>
        {% for game in games %}
        <tr>
            <td><a href="/game/{{ game.id }}">{{ game.date }}</a></td>
            <td>
                {{ game.deck_id_1 }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
