{% extends "base.html" %}

{% block title %}Seeding from files{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<h2>Seed from files</h2>

<div>
    <form action="/api/seed/players" method="post" enctype="multipart/form-data">
        <label for="file">Upload Players</label>
        <input type="file" id="file" name="file" accept=".csv"/>
        <input type="submit">Upload</button>
    </form>
</div>

<div>
    <form action="/api/seed/decks" method="post" enctype="multipart/form-data">
        <label for="file">Upload Decks</label>
        <input type="file" id="file" name="file" accept=".csv"/>
        <input type="submit">Upload</button>
    </form>
</div>

<div>
    <form action="/api/seed/games" method="post" enctype="multipart/form-data">
        <label for="file">Upload Games</label>
        <input type="file" id="file" name="file" accept=".csv"/>
        <input type="submit">Upload</button>
    </form>
</div>
<hr/>
<div>
    <form action="/api/seed/all_in_one" method="post" enctype="multipart/form-data">
        <label for="file">Upload All-in-One</label>
        <input type="file" id="file" name="file" accept=".csv"/>
        <input type="submit">Upload</button>
    </form>
</div>
{% endblock %}